@import "../../../scss/index.scss";

.newsletter{
    position: relative;

    h3{
        color: $font-light;
        font-weight: bold;
    }

    input {
        height: 24px;
        font-size: 18px;
    }

    button {
        width: 100%;
    }
}